 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$webtitle}</title>
<link href="__PUBLIC__/admin/static/h-ui/css/H-ui.css" rel="stylesheet" type="text/css" />
 <style type="text/css">

 </style>
</head>
<body >
<div align="center" >
<table width="960" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td width="960" valign="top" align="center"><embed src="__DATA__/wimages/af.swf" width="960" height="182" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed></td>
  </tr>
</table>
</div>
<div id="wrapper" >
	<div id="ftCon" >
		<div class="footer1">
			<div class="footer1-nav3">
				<ul>
					<li><a href="" style="color:white">版权声明</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">帮助信息</a></li>
					<li><a href="">rss订阅</a></li>
				</ul>
			</div>	

			<div style="text-align:center;padding-bottom:10px;padding-top:10px;">
				备案序号：<a href="http://www.miitbeian.gov.cn/" target="_blank">赣ICP备17016305号</a><br />
				程序设计：邱景栋 技术支持：<!--akcms--><span >Powered by <a href='' target='_blank'>jingdong studio</a></span><br />
				建议IE6.0 1024×768以上分辨率浏览本网站 2007-2012 版权所有<br />
			</div>
		</div>
	</div>
</div>

</body>
</html>